html {
    font-size:18px;
    color: #fff;
}

body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size:1rem;
    line-height: 1.35;
    background: linear-gradient(to right, #B1B1B1, #737373);
}

/* img {
    max-width: 100%;
} */

*,
*:before,
*:after {
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul[class],
ol[class] {
  margin: 0;
  padding:0;
}

.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

/*Page=======================================================================*/
.page{
    width: 100%;
    height: 100vh;
}

/*Header=======================================================================*/
.header{
    /* position: relative; */
    background-color: #E89B65;
    width: 1160px;
    height: 180px;
    margin: 50px auto;
    /* max-width: 85%; */
}
/*Header-top=======================================================================*/

.header-top{
    width: 1080px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-weight: 400;
    /* position: relative; */
    font-size:1.24rem;
}

.header-menu-top li {
    display: inline-block;
    opacity: 1;
    transition: opacity .2s ease;
}

.header-menu-top li:hover {
    opacity: 0.5;
}

.header-menu-top li a {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-size:1.34rem;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 40px;
    opacity: 1;
    transition: opacity .2s ease;
}

.header-menu-top li:last-child a{
    margin-right: 0px;
}

.header-menu-top li p {
    margin-left: 10px;
}


.header__logo {
    position: relative;
    top: 5px;
}
/*Header-down=======================================================================*/
.header-down {
    width: 1080px;
    height: 90px;
    margin: 0 auto;
}
.header-menu-down{
    display: flex;

}

.header-menu-down li {
    width: 200px;
    list-style: none;
    background-color: #E89B65;
    position: relative;
    font-size:1.34rem;
    font-weight: 400;
    padding: 10px;

}

.header-menu-down a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    transition: all .5s;
}

.header-menu-down a:hover{
    opacity: 0.5;
}

.header-menu-down ul{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}

.header-menu-down li:hover ul{
    display: block;
}
/*search-btn=======================================================================*/

.search-box{
    display: flex;
    /* position: absolute; */
    background-color: #E89B65;
    height:40px;
    border-radius: 40px;
    padding: 10px;
    box-sizing: content-box;
    
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
    font-weight: 400;
    opacity: 0.5; 
    transition: all 0.2s ease;
 }
 :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgb(255, 255, 255);
    font-weight: 400;
    opacity:  0.5;
    transition: all 0.2s ease;
 }
 ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgb(255, 255, 255);
    font-weight: 400;
    opacity:  0.5; 
    transition: all 0.2s ease;
 }
 :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgb(255, 255, 255);
    font-weight: 400;
    opacity:  0.5;
    transition: all 0.2s ease;
 }

 :hover::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity:1;
    transition: all 0.2s ease;
  }
  :hover::-moz-placeholder { /* Firefox 19+ */
    opacity:1;
    transition: all 0.2s ease;
  }
  :hover:-ms-input-placeholder { /* IE 10+ */
    opacity:1;
    transition: all 0.2s ease;
  }
  :hover:-moz-placeholder { /* Firefox 18- */
    opacity:1;
    transition: all 0.2s ease;
  }
.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E89B65;
    text-decoration:none;
}

.search-txt {
    width: 171px;
    border:none;
    outline: none;
    background: none;
    padding: 0;
    color: #fff;
    font-size: 1.33rem;
    transition: .4s;
    line-height: 40px;
}
.search-box:hover .search-btn {
    background-color: #E89B65;
}
/*slider=======================================================================*/
.slider {
    height: 696px;
}
/*nav=======================================================================*/
.nav{
    height: 411px;
}
/*tabs=======================================================================*/
.tabs {
    height: 431px;
    background-color: #737373;
}
/*partners=======================================================================*/
.partners {
    height: 308px;
}
.partners-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
/*info=======================================================================*/
.info {
    height: 630px;
}
/*footer=======================================================================*/
.footer{
    height: 380px;
}